{% extends 'administrativo/base_admin.html' %}

{% block content %}

<h2 class="mb-3">Lista de Clientes</h2>

<form method="GET" class="mb-3">
    <div class="input-group">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Buscar por placa, propietario, marca..."
            value="{{ busqueda }}">
        <button class="btn btn-primary">
            Buscar
        </button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Placa</th>
            <th>Propietario</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Cobro / Pago</th>
        </tr>
    </thead>

    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>

            <td>{{ vehiculo.placa }}</td>
            <td>{{ vehiculo.propietario }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.color }}</td>
            <td>{{ vehiculo.telefono }}</td>
            <td>{{ vehiculo.Correo }}</td>

            <!-- ESTADO -->
            <td>
                {% if vehiculo.estado_actual == 'Ingresado' %}
                    <span class="badge bg-secondary">Ingresado</span>

                {% elif vehiculo.estado_actual == 'En Reparación' %}
                    <span class="badge bg-warning text-dark">En Reparación</span>

                {% elif vehiculo.estado_actual == 'Finalizado' %}
                    <span class="badge bg-success">Finalizado</span>

                {% elif vehiculo.estado_actual == 'Entregado' %}
                    <span class="badge bg-primary">Entregado</span>
                {% endif %}
            </td>

            <!-- COBRO / PAGO -->
            <td>

                {% if vehiculo.estado_actual == 'Finalizado' %}

                    <a href=#
                       class="btn btn-success btn-sm">
                        💰 Generar Cobro
                    </a>

                {% elif vehiculo.estado_actual == 'Entregado' %}

                    {% if vehiculo.entrega.estado_pago == 'Pagado' %}
                        <span class="badge bg-success">
                            ✔ Pagado
                        </span>
                    {% else %}
                        <a href=#
                           class="btn btn-danger btn-sm">
                            Pendiente Pago
                        </a>
                    {% endif %}

                {% else %}
                    <span class="text-muted">—</span>
                {% endif %}

            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="8" class="text-center">
                No se encontraron registros.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}